body {
  background-color: gainsboro;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.math-tools-list{
  display: flex;
}
.math-tools-list li {
  margin: 10px;
}
.main-title {
  color: blueviolet;
}
h2 {
  color: cornflowerblue;
}
.change-color {
  outline-color: limegreen;
}

.success {
  outline-color: chartreuse;
  background-color: rgb(75, 185, 75);
  color: blueviolet;
}

.input-task-7,
.input-task-2 {
  width: 150px;
}

.answer-task-9 {
  display: inline-block;
  background-color: white;
  border: 1px solid dimgray;
  border-radius: 2px;
  width: 60px;
  color: rgb(27, 27, 27);
}
