.main-title {
  color: blueviolet;
}
h2 {
  color: cornflowerblue;
}
.change-color {
  outline-color: limegreen;
}

.success {
  outline-color: chartreuse;
  background-color: rgb(75, 185, 75);
  color: blueviolet;
}

.input-task-7 {
  width: 100px;
}
